<div class="container">
  <div class="row">
    <div class="col-10 m-auto">
       <h2 class="text-center">お問い合わせいただき、ありがとうございました。</h2>
       <p class="text-center mt-4">※ご返信には最大3営業日ほどお時間を要します。</p>
       <div class="text-center mt-5">
         <%= link_to "トップページへ戻る", root_path %>
       </div>
    </div>
  </div>
</div>