
<div class="container">
  <div class="row">
    <div class="col-12 m-auto m-4">
      <h2 class="p-5">ジャンル別レシピ投稿数</h2>
      <%= column_chart  @recipes.count, width: "600px", height: "500px", colors: ["#FF8C00", "#666633"] %>
    </div>
  </div>
</div>

