
<div class="container">
  <div class="row">
    <div class="col-12 m-auto m-4">
      <h2 class="p-5">◆ 前日比</h2>
      <table class="table table-bordered small mb-5">
        <thead>
          <tr>
            <th>今日の投稿</th>
            <th>昨日の投稿</th>
            <th>前日比</th>
          </tr>
        </thead>
      <%= render partial: 'admin/recipes/compare', locals: { present: @recipes_today, prev: @recipes_yesterday} %>
      <h2 class="p-5">◆ 先週比</h2>
      <table class="table table-bordered small mb-5">
        <thead>
          <tr>
            <th>今週の投稿</th>
            <th>先週の投稿</th>
            <th>先週比</th>
          </tr>
        </thead>
      <%= render partial: 'admin/recipes/compare', locals: { present: @recipes_this_week, prev: @recipes_last_week} %>

      <h2 class="p-5">◆ 先月比</h2>
      <table class="table table-bordered small mb-5">
        <thead>
          <tr>
            <th>今月の投稿</th>
            <th>先月の投稿</th>
            <th>先月比</th>
          </tr>
        </thead>
      <%= render partial: 'admin/recipes/compare', locals: { present: @recipes_this_month, prev: @recipes_last_month} %>
    </div>
  </div>
</div>