<div class="container">
  <%= form_with model: @genre, url: admin_genres_path, method: :post, id: 'new_genre', class: 'new_genre form-horizontal', local: true do |f| %>
    <%= render 'genre_field', f: f %>
  <% end %>
</div>