<div class="container">
  <table class="table small table-hover mt-5">
    <thead>
      <tr>
        <th style="width: 20%">投稿者名</th>
        <th style="width: 40%">タイトル</th>
        <th style="width: 40%">レビュー本文</th>
      </tr>
    </thead>
    <tbody>
        <% @recipe.reviews.each do |review| %>
        <tr>
          <td><%= review.user.name %></td>
          <td><%= review.title %></td>
          <td><%= review.body %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>