/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';



// フォント指定

 * {
   font-family: 'Noto Serif JP', serif;;
 }

 li ul {
   text-decoration: none;
   list-style: none;
 }


// タブ切り替え

.tab-area {
  display: flex;
  justify-content: space-around;
  background-color: white;
  cursor: pointer;
  .tab {
    width: 300px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: black;
    border-right: 1px solid #50637b;
    border-left: 1px solid #222e3e;
  }
  .tab.active {
    background-color: #ccc;
    color: #222e3e;
    border: none;
  }
}
.content-area {
  text-align: center;
  .content {
    display: none;
  }
  .content.show {
    margin-top: 50px;
    display: block;
  }
}


.fab-color {
  color: #CD5C5C;
}

.sidebar_fixed {
  position: fixed;
  top: 60px;
}


// 検索ボックス

// 検索フォームアイコン
.search-field,
.search-admin-field{
position: relative;
}

.search-admin-field{
position: relative;
}

.search-icon{
position: absolute;
left: 80%;
top: 0%;
}

.search-admin-icon{
position: absolute;
left: 78%;
top: 38%;
}



// メダルの色

.gold {
  color: #FFD700;
}

.silver {
  color: #A9A9A9;
}

.blonze {
  color: #996600;
}


// ジャンル画像のアクション

.hover-parent img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
}
.hover-parent:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}


