 <footer class="bg-light pt-5 pb-4 mt-auto">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-4">
            <h5>ラーメンを家庭料理に</h5>
          </div>
          <div class="ml-auto">
            <h6 class="mt-2 mb-3">Link</h6>
            <ul class="p-0 list-unstyled">
              <li>
                <a href="" title="About" class="">会社概要</a>
              </li>
              <% if user_signed_in? %>
              <li>
                <%= link_to "お問い合わせ",  new_contact_path %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </footer>